@charset 'utf-8';


/* modal */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  width: 608px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.modal__content .modalInner {
  padding: 10px;
  background: #fff;
}

.modal__content > img {
  display: block;
}

.modal__content .detail {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.modal__content .detail p {
  font-size: 1.2rem;
  color: #999;
}

.modal__content .detail > a {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: url('/images/close.png') no-repeat;
  transition: 0.2s;
}

.modal__content .detail > a:hover {
  opacity: 0.5;
}