@charset 'utf-8';

.partsInner {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 5000px;
}

@media screen and (max-width:767px){
  .partsInner{
    width: 100%;
  }
}


.sumple {
  width: 100%;
  height: 500px;
  background: #333;
  border: 1px solid #000;
  box-sizing: border-box;
}


/*========================================
Heading Parts Settings
========================================*/
/* h2 */
.headingBlock01 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.headingBlock01 > h2 {
  display: inline-block;
  position: relative;
  font-size: 3.5rem;
  text-align: center;
  line-height: 38.5px;
}

.headingBlock01 > h2::before {
  display: block;
  width: 150px;
  height: 8px;
  content: "";
  background: url(/images/bg-pattern.png) no-repeat;
  position: absolute;
  left: -200px;
  top: 15px;
}

.headingBlock01 > h2::after {
  display: block;
  width: 150px;
  height: 8px;
  content: "";
  background: url(/images/bg-pattern.png) no-repeat;
  position: absolute;
  right: -200px;
  top: 15px;
}

.headingBlock01 .englishSub {
  color: #fbb731;
  font-size: 2.0rem;
  line-height: 20px;
}

@media screen and (max-width:767px) {
  .headingBlock01 > h2 {
    font-size: 2.5rem;
  }

  .headingBlock01 > h2::before {
    width: 100px;
    height: 6px;
    left: -110px;
    top: 15px;
  }

  .headingBlock01 > h2::after {
    width: 100px;
    height: 6px;
    right: -110px;
    top: 15px;
  }

  .headingBlock01 .englishSub {
    font-size: 1.4rem;
  }
}

/*========================================
Text Parts Settings
========================================*/
.textBlock01 {

}

.textBlock01 > p {
  font-size: 1.6rem;
  text-align: center;
}

.textBlock01 > p:not(:last-child) {
  margin: 30px;
}

/*========================================
Bottun Parts Settings
========================================*/
/* No.01 */
.btnList01 {
  display: flex;
  justify-content: center;
}

.btnList01 > li {
  display: inline-block;
  position: relative;
}

.btnList01 > li:not(:last-child) {
  margin-right: 15px;
}

.btnList01 > li > a {
  display: inline-block;
  min-width: 10em;
  padding: 15px 45px 15px 25px;
  background-color: #19a78e;
  border-radius: 30px;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
}

.btnList01 > li > a::before {
  border-radius: 50%;
  display: block;
  content: "";
  width: 2.8rem;
  height: 2.8rem;
  background: #fff;
  position: absolute;
  right: 9px;
  top: calc(50% - 1.4rem);
}

.btnList01 > li > a::after {
  display: block;
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background: url("/images/ico-allow-yellow.svg") no-repeat;
  position: absolute;
  right: 13px;
  top: calc(50% - 0.7rem);
}

.btnList01 > li > a:hover {
  text-decoration: underline;
  opacity: 0.5;
}

@media screen and (max-width:767px) {
  .btnList01 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
  }

  .btnList01 > li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}


/* No.02 */
.btnList02 {
  display: flex;
  justify-content: center;
}

.btnList02 > li {
  
}

.btnList02 > li > a {
  display: block;
  min-width: 10em;
  padding: 12px 20px 12px 20px;
  border: 2px solid #19a78e;
  border-radius: 30px;
  color: #19a78e;
  font-size: 1.8rem;
  text-align: center;
}

.btnList02 > li > a::after {
  content: ">";
}

.btnList02 > li > a:hover {
  text-decoration: underline;
  color: #fff;
  background: #19a78e;
}

@media screen and (max-width:767px) {
  .btnList02 > li > a {
    padding: 12px 10px 12px 10px;
    font-size: 1.7rem;
    color: #fff;
    background: #19a78e;
  }
}


/* No.03 */
.btnList03 {
  width: 50%;
  display: flex;
}

.btnList03 > li {
  position: relative;
  margin-right: 15px;
}

.btnList03 > li > a {
  display: block;
  width: 8em;
  padding: 12px 35px 12px 20px;
  background-color: #19a78e;
  border-radius: 30px;
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
}

.btnList03 > li > a::after {
  display: block;
  content: "";
  width: 2.6rem;
  height: 2.6rem;
  background: url(/images/ico-allow-white.svg) no-repeat;
  position: absolute;
  right: 13px;
  top: 9px;
  transform: rotate(90deg);
}

.btnList03 > li > a:hover {
  text-decoration: underline;
  opacity: 0.5;
}

/* No.04 */
.btnList04 {
  width: 50%;
  display: flex;
}

.btnList04 > li {
  position: relative;
  margin-right: 15px;
  min-width: 5em;
}

.btnList04 > li:first-child > a {
  display: block;
  box-sizing: border-box;
  width: 11em;
  padding: 4px 16px 3px 40px;
  background-color: #fbb731 ;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  border: 1px solid #fbb731;
  border-radius: 20px;
}

.btnList04 > li:first-child > a::before {
  display: block;
  content: "";
  width: 2.6rem;
  height: 1.6rem;
  background: url("/images/ico-mail_white.svg") no-repeat;
  position: absolute;
  left: 13px;
  top: 9px;
}

.btnList04 > li > a:hover {
  text-decoration: underline;
  opacity: 0.5;
}

.btnList04 > li:last-child > a {
  display: block;
  box-sizing: border-box;
  width: 11em;
  padding: 4px 16px 3px 28px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #19a78e;
  text-align: center;
  border: 1px solid #19a78e;
  border-radius: 20px;
}

.btnList04 > li:last-child > a::before {
  display: block;
  content: "";
  width: 2.6rem;
  height: 2.0rem;
  background: url("/images/ico-tel.svg") no-repeat;
  position: absolute;
  left: 13px;
  top: 7px;
}

.btnList04 > li > a:hover {
  text-decoration: underline;
  opacity: 0.5;
}

@media screen and (max-width:767px) {
  .btnList04 {
    width: 100%;
    display: block;
  }

  .btnList04 > li:not(:last-child) {
    margin-bottom: 15px;
  }
}

/* No.05 */
.btnList05 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btnList05 > li {
  display: inline-block;
  position: relative;
  margin-right: 15px;
  min-width: 5em;
}

.btnList05 > li:first-child > a {
  display: block;
  box-sizing: border-box;
  width: 11em;
  padding: 8px 16px 7px 40px;
  background-color: #fbb731 ;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  border: 1px solid #fbb731;
  border-radius: 20px;
}

.btnList05 > li:first-child > a::before {
  display: block;
  content: "";
  width: 2.6rem;
  height: 1.6rem;
  background: url("/images/ico-mail_white.svg") no-repeat;
  position: absolute;
  left: 13px;
  top: 11px;
}

.btnList05 > li > a:hover {
  text-decoration: underline;
  opacity: 0.5;
}

.btnList05 > li:last-child > a {
  display: block;
  box-sizing: border-box;
  width: 11em;
  padding: 8px 16px 7px 28px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #19a78e;
  background: #fff;
  text-align: center;
  border: 1px solid #19a78e;
  border-radius: 20px;
}

.btnList05 > li:last-child > a::before {
  display: block;
  content: "";
  width: 2.6rem;
  height: 2.0rem;
  background: url("/images/ico-tel.svg") no-repeat;
  position: absolute;
  left: 13px;
  top: 11px;
}

.btnList05 > li > a:hover {
  text-decoration: underline;
  opacity: 0.5;
}


/*========================================
Card Parts Settings
========================================*/
/* No.01 */
.cardBlock01 {
  width: 350px;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cardBlock01 > .inner {
  display: block;
}

.cardBlock01 > a:hover {
  opacity: 0.9;
}

.cardBlock01 > a:hover > p {
  text-decoration: underline;
}

.cardBlock01 > .inner > img {
  width: 100%;
  border-radius: 10px;
}

.cardBlock01 > .inner > p {
  margin-bottom: 20px;
}

.cardBlock01 > .inner > .date {
  display: flex;
  justify-content: space-between;
}

.cardBlock01 > .inner > .date > p {
  display: inline-block;
  font-size: 1.4rem;
}

.status {
  display: inline-block;
  padding: 0 5px;
  font-size: 1.4rem;
  color: #19a78e;
  border: 1px solid #19a78e;
  border-radius: 3px;
}

/* No.02 */
.cardBlock02 {
  width: 500px;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #fff;
}

.cardBlock02 > .inner {
  display: flex;
}

.cardBlock02 > a:hover {
  opacity: 0.9;
}

.cardBlock02 > a:hover > .text > p {
  text-decoration: underline;
}

.cardBlock02 > .inner > img {
  width: 40%;
  height: auto;
  border-radius: 10px;
}

.cardBlock02 > .inner > .text {
  padding: 0 20px;
}

.cardBlock02 > .inner > .text > p {
  margin-bottom: 20px;
}

.cardBlock02 > .inner > .text > .date {
  display: flex;
  justify-content: space-between;
}

.cardBlock02 > .inner > .text > .date > p {
  display: inline-block;
  font-size: 1.4rem;
}


/*========================================
BOX Parts Settings
========================================*/
/* No.01 */
.box01 {
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 8px solid #fbb731;
  box-shadow: 1px 1px 10px #000 ;
}

.box01 > .title {

}

.box01 > .title > h2{
  padding: 20px 0;
  font-size: 2.4rem;
  text-align: center;
}

.box01 > .inner {
  padding: 30px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 20px #19a78e;
}

.box01 > .inner > .boxContent01 {
  padding-bottom: 15px;
  border-bottom: 3px dotted #ccc;
}

.box01 > .inner > .boxContent01:last-child {
  border: none;
}

/*========================================
BOX Parts Settings
========================================*/
/* No.01 */
.colmun2Block01 {
  display: flex;
}

.colmun2Block01 > .colmunitem {
  width: 50%;
}

/* No.02 */
.colmun2Block02 {
  display: flex;
  justify-content: space-between;
}

.colmun2Block02 > .colmunitem {
  width: 48%;
}

/*========================================
hero Settings
========================================*/
.heroBlock {
  position: relative;
  width: 100%;
}

.heroBlock .heroTextBlock {
  width: 540px;
  padding: 20px 25px 25px;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50px;
  left: 10px;
  font-size: 3.6rem;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}

.heroBlock .heroTextBlock > .title {
  font-size: 3.6rem;
  font-weight: bold;
}

.heroBlock .heroTextBlock > .lead {
  font-size: 3.3rem;
  font-weight: bold;
}

@media screen and (max-width:767px) {
  .heroBlock .heroTextBlock {
    width: 314px;
    padding: 20px 13px 25px;
    position: absolute;
    top: 100px;
    left: 10px;
  }

  .heroBlock .heroTextBlock > .title {
    font-size: 3.1rem;
    font-weight: bold;
  }

  .heroBlock .heroTextBlock > .lead {
    font-size: 1.8rem;
    font-weight: bold;
  }

  .heroBlock .heroTextBlock .heroBtn {
    display: flex;
    justify-content: center;
  }

  .heroBlock .heroImg > img {
    width: 100%;
  }
}

/*========================================
Carousel Parts Settings
========================================*/
/* slick01
----------------------------------------*/
.slick-arrow.prev {
  position: absolute;
  top: 50%;
  font-size: 4.2rem;
  font-weight: bold;
  color: #ccc;
  z-index: 5000;
  cursor: pointer;
}

.slick-arrow.next {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 4.2rem;
  font-weight: bold;
  color: #ccc;
  z-index: 5000;
  cursor: pointer;
}

.mypattern .slick-slide:not(.slick-center) {
  filter: grayscale(0);
  transition: 0.2s linear;
}

.slick-dots {
  bottom: 0;
  z-index: 3000;
}

.slick-dots li.slick-active button:before {
  color: #19a78e;
}

.slick-dots li button:before {
  color: #19a78e;
}

@media screen and (max-width:767px) {
  .slick-dots {
    bottom: -25px;
  }
}

/* slick02
----------------------------------------*/
.slick02 {
  margin-top: 50px;
}

.slick02 .slick-slide {
  width: 400px;
}

/*========================================
検索　虫眼鏡 Settings
========================================*/
.spMenu {
  display: flex;
}


.surchBtnWrap {
  position: relative;
}

.surchBtn {
  width: 5.0rem;
  height: 5.0rem;
  cursor: pointer;
}

.surchBtn::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  top: calc(50% - 9px);
  left: calc(50% - 9px);
  border-radius: 50%;
  box-shadow: 0 0 0 2px #333;
}

.surchBtn::after {
  position: absolute;
  content: '';
  width: 8px;
  height: 6px;
  top: calc(50% + 6px);
  left: calc(50% + 2px);
  border-top: solid 2px #333;
  transform: rotate(45deg);
}



.surchMordal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50px;
  right: 0%;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity .5s, visibility .5s;
  z-index: 8000;
}

.surchMordal.show {
  display: block;
  position: fixed;
}

.surchMordal #searchform {
  position: relative;
  top: 35%;
  left: calc(50% - 125px);
}

.surchMordal #searchform > input {
  width: 250px;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 2.0rem;
}

.surchMordal #searchform > button {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  border: none;
  background: none;
  position: relative;
  right: 11%;
}

.surchMordal #searchform > button > .surchBtn::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  top: calc(50% - 15px);
  left: calc(50% - 9px);
  border-radius: 50%;
  box-shadow: 0 0 0 2px #333;
}

.surchMordal #searchform > button > .surchBtn::after {
  position: absolute;
  content: '';
  width: 8px;
  height: 6px;
  top: calc(50% - 1px);
  left: calc(50% + 2px);
  border-top: solid 2px #333;
  transform: rotate(45deg);
}


/*========================================
ハンバーガーメニュー Settings
========================================*/
/* ハンバーガーメニュー */
.open {
  display: block;
}

.open.show {
  display: none;
}

.close {
  display: none;
}

.close.show {
  display: block;
}




.toggleWrapper {
  padding: 15px;
}

.spMenuToggle {
  display: block;
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
}

.spMenuToggle:hover {
  cursor: pointer;
}

.spNav {
  width: 100%;
  position: absolute;
  top: 50px;
  right: 0%;
  opacity: 0;
  display: none;
  transition: opacity .5s, visibility .5s;
  z-index: 8000;
}

.spNav > ul {
  width: 100%;
}

.spNav > ul >li {
  position: relative;
  margin: 0;
  padding: 15px;
  background: #19a78e;
  border-bottom: 1px solid #ccc;
  opacity: 0.9;
}

.spNav > ul >li > a {
  font-size: 2.0rem;
  color: #fff;
  padding-left: 35px;
}

.spNav > ul >li > a::before {
  content: "";
  width: 3.6rem;
  height: 3.6rem;
  background: url("/images/ico-allow-white.svg") 0 0 no-repeat;
  position: absolute;
  top: 1.8rem;
  left: 0.2rem;
  transform: rotate(90deg);
}

.spNav.show {
  height: 27vh;
  opacity: 1;
  display: block;
}

