@charset "utf-8";

/*　制作時チェック用 */


/* main section {
  height: 100vh;
  vertical-align: bottom;
  text-align: center;
} */

  /* main section:nth-of-type(2n) {
    background-color: blue;
  } */

/* 汎用 */
.font-color {
  color: #19a78e;
}

.sp {
  display: none;
}

@media screen and (max-width:767px) {
  .pc {
    display: none;
  }
}

/*========================================
basic configuration
========================================*/
html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-width: 1280px;
  font-size: 1.6rem;
  font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  line-height: 1.68;
  letter-spacing: 0;
  color: #1e1e1e;
}

ul, ol ,li {
  list-style-type: none;
}

a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: #1e1e1e;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

@media screen and (max-width:767px) {
  body {
    min-width: initial;
    width: 100%;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
}


/*========================================
header Settings
========================================*/
header {
  position: sticky;
  top: 0;
  background: #fff;
  padding: 10px 0px 6px 20px;
  z-index: 2000;
}

header .headerInner {
  display: flex;
  justify-content: space-between;
  position: relative;
}

header .logo {
  width: 165px;
}

header nav {
  display: flex;
  position: absolute;
  top: 25%;
  right: 0;
}

header nav .headerNav {
  margin: 0 17px 0 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

header nav .headerNav li {
  margin-right: 24px;
}

header nav .headerNav li:last-child {
  margin-right: 0;
}

header nav .headerNav li a {
  font-size: 1.5rem;
  letter-spacing: -1px;
  white-space: nowrap;
}

@media screen and (max-width:767px) {
  header nav {
    display: none;
  }
}



/*========================================
hero Settings
========================================*/
.hero {
  position: relative;
}

.hero::after {
  content: '';
  width: 297px;
  height: 33px;
  background: url("/images/bg-slider_box.png");
  background-size: contain;
  position: absolute;
  bottom: -1px;
  left: calc(50% - 149px);
  z-index: 30 ;
}

@media screen and (max-width:767px) {
  header nav {
    display: none;
  }

  .hero::after {
    content: '';
    width: 297px;
    height: 33px;
    background: url("/images/bg-slider_box.png");
    background-size: contain;
    position: absolute;
    bottom: -1px;
    left: calc(50% - 149px);
    z-index: 30 ;
  }
}





/* ページトップボタン */
#pageTopBtn {
  width: 60px;
  height: 60px;
  background: rgba(25, 167, 142, 0.8);
  border-radius: 50%;
  position: fixed;
  z-index: 10;
  bottom: 4.5rem;
  right: 50px;
}

#pageTopBtn:hover {
  background: rgba(25, 167, 142, 0.5);
}

#pageTopBtn a {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pageTopBtn a img {
  width: 24px;
  height: 24px;
}