@charset "utf-8";

/*=======================================
Reset CSS
========================================*/
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*=======================================
html Settings
========================================*/
html {
  font-size: 62.5%;
  color: #707070;
}

body {
  font-size: 16px;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 600;
  line-height: 1.75;
}

.inner {
  width: 1000px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.fsL {
  font-size: 36px;
}

.fw {
  font-weight: bold;
}

a:link,
a:hover,
a:visited,
a:active {
  color: #707070;
  text-decoration: none;
}

@media screen and (max-width:767px){
  .inner {
    width: 100%;
  }
}

/*=======================================
headerArea Settings
========================================*/
#headerArea {
  background: #5A442A;
  padding: 13px 0 11px 20px;
}

#headerArea .logoBlock01 {
  display: inline-block;
  color: #fff;
  font-size: 32px;
}

#headerArea .logoBlock01 p {
  color: #fff;
}

#headerArea .logoBlock01 p .discription {
  margin: 0 0 0 8px;
  font-size: 20px;
  color: #fff;
}

@media screen and (max-width:767px){
  #headerArea .inner {
    display: flex;
    justify-content: center;
  }
}


/*=======================================
keyvisual Settings
========================================*/
#keyvisual img {
  width: 100%;
}


/*=======================================
contentArea Settings
========================================*/
#contentArea {
  padding: 31px 15px 52px;
}

#contentArea .headingBlockA01 {
  display: inline-block;
  font-size: 24px;
  margin: 2px 0px 16px 5px;
}

#contentArea .imgBlockA01 {
  display: flex;
  margin: 0 0 16px 0;
}

#contentArea .imgBlockA01 .img {
  margin: 5px 0px 0px 5px;
}

#contentArea .imgBlockA01 .text {
  margin: 2px 16px 0 20px;
}

#contentArea .linkBlockA01 {
  margin: 46px 0 0 0;
  text-align: center;
}

#contentArea .linkBlockA01 p a {
  line-height: 1;
  font-size: 24px;
  border-bottom: 2px solid;
  vertical-align: baseline;
}

@media screen and (max-width:767px) {
  #contentArea .imgBlockA01 {
    display: block;
    width: 100%;
  }

  #contentArea .imgBlockA01 .img img {
    width: 100%;
  }

  #contentArea .imgBlockA01 .text {
    width: 100%;
    margin: 30px 0 50px 0;
  }
}


/*=======================================
footerArea Settings
========================================*/
#footerArea {
  background-color: #5A442A;
  padding: 17px 0 19px 0;
}

#footerArea #copyright {
  color: #fff;
  text-align: center
}