@charset 'utf-8';

.timer {
  width: 500px;
  height: 200px;
  margin: 0 auto;
  background: #333;
}

.timer #timer {
  font-size: 32px;
  color: aliceblue;
  text-align: center;
}

.timer .buttonBlock {
  display: flex;
  justify-content: space-around;
}

.timer .buttonBlock button {
  font-size: 16px;
  color: #000;
}
