@charset 'utf-8';

ul,ol,li {
  list-style: none;
}

/*==============================
HTML Settings
==============================*/
html {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-family: 'Noto Serif','Noto Serif JP', sans-serif;
  font-size: 1.6rem;
  line-height: 1.88;
  letter-spacing: 0.05em;
  color: #171717;
}

a:link,
a:hover,
a:visited,
a:active {
  color: #171717;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.inner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

/*==============================
Header Settings
==============================*/
header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
}

header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  background: #282f35;
}

header > .inner {
  display: flex;
  justify-content: space-between;
}

header .logo {
  margin: 30px 0;
}

header .logo p {
  font-size: 2.6rem;
  font-weight: bold;
  font-style: italic;
  color: #fff;
}

header .headerNav {
  margin-top: 38px;
}

header .headerNav ul {
  display: flex;
}

header .headerNav ul li {

}

header .headerNav ul li:not(:last-child) {
  margin-right: 30px;
}

header .headerNav ul li a {
  color: #fff;
}

header .headerNav ul li a:hover {
  text-decoration: underline;
}


/*==============================
CONTACT Settings
==============================*/
#contact .sectionHeader {
  width: 100%;
  height: 483px;
  background: url("/images/contact-page-bgi.png") 0 0 no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#contact .headingBlockC01 {
  font-size: 6.0rem;
  font-style: italic;
  font-weight: bold;
  color: #fff;
}

#contact .bgBlockC01 {
  font-size: 9.0rem;
  font-weight: bold;
  color: rgba(23, 23, 23, 0.05);
  position: absolute;
  bottom: 50px;
  left: 50px;
}


/*==============================
formArea Settings
==============================*/
.formArea {
  width: 700px;
  margin: 0 auto;
}

.formArea .checkbox {
  display: flex;
  margin-bottom: 19px;
}

.formArea .checkbox li:not(:first-child) {
  margin-left: 20px;
}

.inputBox {
  margin-bottom: 22px;
}

.inputBox > div {
  margin-top: -10px;
}

.inputBox > div > input,
textarea {
  width: 100%;
}

.btnBlockA01 {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 70px;
  display: inline-flex;
  justify-content: center;
}

.btnBlockA01 .btn {
  margin: 0 auto;
  display: inline-block;
}

.btnBlockA01 .btn input {
  padding: 19px 71px 18px;
  background: #f7d43f;
  border-style: none;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  font-weight: bold;
}

.btnBlockA01 input:hover {
  text-decoration: underline;
}

footer .copyright {
  padding: 30px 0;
  text-align: center;
  font-size: 1.4rem;
}
