@charset "utf-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*====================================
body Settings
=====================================*/
body {
  width: 1000px;
  margin: 0 auto;
  font-size: 16px;
}

/*====================================
header Settings
=====================================*/
header {
  display: flex;
  justify-content: center;
  margin: 20px 10px 20px;
  padding: 20px 0;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

header .leftBlock01 {
  width: 50%;
  text-align: center;
}

header .leftBlock01 h1 {
  font-size: 32px;
}

header .leftBlock01 .subtitle {
  margin-top: 10px;
  font-size: 26px;
  color: #ff0000;
}

header .leftBlock01 .subtitle p {
  margin-bottom: 5px;
}

header .rightBlock01 {
  width: 50%;
}

header .rightBlock01 .text {
  line-height: 16px;
}

/*====================================
main Settings
=====================================*/
.contentBlock {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.contentBlock .colmunBlockA01 {
  width: 40%;
}

.headingBlockA01 {
  width: 100%;
  padding: 8px 0 5px 20px;
  border-top: 2px solid #ff0000;
  background: #333;
}

.headingBlockA01>h2 {
  font-size: 26px;
  color: #fff;
}

.headingblockB01 {
  margin: 30px 0 10px;
}

.headingblockB01>h3::before {
  content: "●";
  color: #ff0000;
}

.headingblockB01>h3 {
  font-size: 20px;
}

.textBlockA01>p {
  margin-bottom: 0.5em;
  text-indent: 1em;
  line-height: 1.2em;
}

@media screen and (max-width: 480px) {
  body {
    width: 100%;
  }
  
  header {
    display: block;
  }

  header .leftBlock01 {
    width: 100%;
  }

  header .rightBlock01 {
    width: 100%;
  }

  .contentBlock {
    display: block;
    padding: 0 10px;
  }

  .contentBlock .colmunBlockA01 {
    width: 100%;
  }
}